/* Подключение шрифтов */

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy Light"), local("Gilroy-Light"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

/* Стили */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;

  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: inline-block;
  padding: 10px 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 40%);
  border: none;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(0deg, #f0c52e 0%, #f0c52e 100%);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
.main-header {
  padding-top: 40px;
}

.main-navigation {
  position: relative;
  background-color: #f7e296;
  padding: 0 60px;
}

.user-list,
.navigation-list,
.dropdown-list,
.dropdown-list-col {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-header-logo {
  display: block;
  width: 163px;
  position: relative;
  top: -17px;
}

.inner-page .main-header-logo:hover,
.inner-page .main-header-logo:focus {
  opacity: 0.6;
}

.inner-page .main-header-logo:active {
  opacity: 0.3;
}

.main-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.search-input {
  position: relative;
  padding: 15px 40px;

  border: 0;
  background-color: transparent;
  background-image: url("../img/general/search.svg");
  background-repeat: no-repeat;
  background-position: 0 15px;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6)
}

.search-button {
  padding: 15px;
  background-color: transparent;
  border: 2px solid #000000;
}

.search-button:hover,
.search-button:focus {
  background-color: #000000;
  color: rgba(255, 255, 255, 1);
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}


.user-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 500px;
}

.user-item {
  margin-left: 40px;
}

.user-login {
  margin-left: 0;
  margin-right: auto;
}

.login-link,
.compare-link,
.cart-link {
  position: relative;

  padding-left: 25px;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/general/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compare-link::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 6px;

  width: 13px;
  height: 12px;

  background-image: url("../img/general/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-link::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 3px;

  width: 13px;
  height: 12px;

  background-image: url("../img/general/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.logout-link {
  margin-left: 15px;
  opacity: 0.3;
}

.login-link:hover,
.login-link:focus,
.compare-link:hover,
.compare-link:focus,
.cart-link:hover,
.cart-link:focus {
  opacity: 0.6;
}

.login-link:active,
.compare-link:active,
.cart-link:active {
  opacity: 0.3;
}

.navigation-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 45px;
}

.navigation-item {
  margin-right: 35px;

}

.navigation-item:first-child {
  position: relative;
  margin-right: auto;
}

.navigation-item:last-child {
  margin-left: 65px;
  margin-right: 0;
}

.navigation-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.navigation-link:hover,
.navigation-link:focus {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.dropdown {
  position: relative;
}

.dropdown::after {
  content: "";

  position: absolute;
  top: 3px;
  right: -27px;

  width: 16px;
  height: 16px;

  opacity: 0.3;

  background-image: url("../img/general/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.dropdown-list {
  position: absolute;
  top: 35px;
  left: -60px;
  z-index: 1;

  display: none;

  width: 1160px;
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 42px;

  background-color: #f7e296;
}


.dropdown:hover ~ .dropdown-list,
.dropdown:focus ~ .dropdown-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.dropdown-list-section {
  margin-right: 60px;
}

.dropdown-list-section:last-child {
  margin-right: 0;
}

.dropdown-link:hover,
.dropdown-link:focus {
  opacity: 0.6;
}

.dropdown-link:active {
  opacity: 0.3;
}

.index-page .main-navigation::after {
  content: "";

  position: absolute;
  bottom: -114px;
  left: 0;

  height: 114px;
  width: 1160px;

  background-color: #f7e296;
}

/* Main */
/* Slider */

.slider {
  margin-bottom: 80px;
}

.slider .container {
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-controls {
  position: absolute;
  bottom: 150px;
  right: 100px;
}

.slider-toggle {
  margin-right: 12px;
  border: none;
  width: 12px;
  height: 12px;
  background-color: transparent;
  background-image: url("../img/index/svg/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
}

.slider-toggle:last-child {
  margin-right: 0;
}

.slider-toggle--current {
  background-image: url("../img/index/svg/slider-button.svg");
}

.slider-item {
  display: none;
}

.slider-item--current {
  display: flex;
  justify-content: space-between;
}

.slider-image {
  width: 560px;
  text-align: center;
}

.slider-description {
  width: 560px;
}

.slider-title {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 82px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: 0.47px;
}

.slider-description p {
  margin: 0;
  margin-bottom: 40px;

  color: #464646;
}

.slider-link {
  margin-bottom: 45px;
}

.slider-table {
  width: 100%;
}

.slider-table td {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.36px;
}

.slider-table th {
  text-align: left;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

/* Popular */

.popular {
  margin-bottom: 80px;
}

.popular-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-item {
  width: 160px;
  padding-top: 200px;
  margin-right: 40px;
}

.popular-item:last-child {
  margin-right: 0;
}

.popular-link {
  position: relative;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.17px;

}

.popular-link::before {
  content: "";

  position: absolute;
  top: -195px;
  left: 0;

  width: 160px;
  height: 160px;

  background-color: rgba(240, 197, 46, 0.5);
}
.popular-link::after {
  content: "";

  position: absolute;
  top: -195px;
  left: 0;

  width: 160px;
  height: 160px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.popular-link--vr::after {
  background-image: url("../img/index/svg/popular-1.svg");
  background-size: 97px 55px;
}

.popular-link--mono::after {
  background-image: url("../img/index/svg/popular-2.svg");
  background-size: 86px 117px;
  background-position: 50% 100%;
}

.popular-link--acam::after {
  background-image: url("../img/index/svg/popular-3.svg");
  background-size: 71px 87px;
}

.popular-link--fitb::after {
  background-image: url("../img/index/svg/popular-4.svg");
  background-size: 107px 65px;
}

.popular-link--watch::after {
  background-image: url("../img/index/svg/popular-5.svg");
  background-size: 56px 98px;
}

.popular-link--quad::after {
  background-image: url("../img/index/svg/popular-6.svg");
  background-size: 132px 69px;
}

.popular-link:hover::before,
.popular-link:focus::before {
  background-color: rgba(240, 197, 46, 1);
}

.popular-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-link:active::after {
  opacity: 0.3;
}

/* Brands */

.brands {
  margin-bottom: 85px;
}

.brands-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.brands-image {
  filter: grayscale(100%);
  opacity: 0.2;
}

.brands-image:hover {
  filter: grayscale(0%);
  opacity: 1;
}

/* Company-info */

.index-columns .container {
  display: flex;
  justify-content: space-between;
}

.index-columns h2{
  margin: 0;
  margin-bottom: 42px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.47px;
}

.index-columns p {
  margin: 0;
  margin-bottom: 30px;

  letter-spacing: normal;

  color: #464646;
}

.company-info {
  position: relative;
  padding-top: 50px;
  margin-right: 40px;
  width: 560px;
}

.company-info p {
  width: 475px;
}

.company-partners {
  padding: 35px 15px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;

  list-style: none;
}

.company-partners li {
  position: relative;
  padding-left: 20px;
}

.company-partners li::before {
  position: absolute;
  left: -12px;
  top: 17px;

  content: "";

  width: 7px;
  height: 7px;
  border: 1px solid #000000;
  border-radius: 50%;

  opacity: 0.2;
}

.company-info .button {
  padding: 10px 20px;
}

.contacts {
  position: relative;
  padding-top: 50px;
  width: 560px;
}

.contacts img {
  padding-top: 10px;
  margin-bottom: 55px;
}

.company-info::before,
.contacts::before {
  position: absolute;
  top: 0px;

  content: "";

  width: 80px;
  height: 7px;

  background-color: #000000;
}

/* Footer */

.main-footer {
  margin-top: 80px;

  color: #ffffff;
  background-color: #464646;
}

.inner-page .main-footer {
  margin-top: 0;
}

.main-footer a {
  color: #ffffff;
}

.inner-page .footer-logo:hover,
.inner-page .footer-logo:focus {
  opacity: 0.6;
}

.inner-page .footer-logo:active {
  opacity: 0.3;
}

.footer-logo-image {
  fill: #f0c52e;
}

.footer-top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 65px;
  margin-bottom: 10px;
}

.footer-user-list {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-user-item {
  margin-right: 40px;
}

.footer-user-item:last-child {
  margin-right: 0;
}

.footer-login-link,
.footer-compare-link,
.footer-cart-link {
  position: relative;

  padding-left: 25px;

  opacity: 0.7;
}


.footer-login-link::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 4px;

  width: 13px;
  height: 12px;

  background-image: url("../img/general/footer-user.svg");
  background-repeat: no-repeat;
}

.footer-compare-link::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 6px;

  width: 10px;
  height: 10px;

  background-image: url("../img/general/footer-compare.svg");
  background-repeat: no-repeat;
}

.footer-cart-link::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 4px;

  width: 12px;
  height: 12px;

  background-image: url("../img/general/footer-cart.svg");
  background-repeat: no-repeat;
}

.footer-login-link:hover,
.footer-login-link:active,
.footer-compare-link:hover,
.footer-compare-link:active,
.footer-cart-link:hover,
.footer-cart-link:active {
  opacity: 1;
}

.footer-login-link:active,
.footer-compare-link:active,
.footer-cart-link:active {
  opacity: 0.3;
}

.footer-logout-link {
  margin-left: 15px;
  opacity: 0.3;
}

.footer-middle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.footer-nav-list,
.social-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
}

.footer-nav-item {
  margin-right: 35px;
}

.footer-nav-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  opacity: 0.6;
}

.footer-nav-link:active {
  opacity: 0.3;
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-wrapper::before {
  content: "";

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.social-list {
  margin: 0;
  margin-left: -55px;
  padding: 0;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.social-item {
  margin-right: 20px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;

  opacity: 0.3;
}

.social-link--fb {
  background-image: url("../img/general/fb.svg");
}

.social-link--inst {
  background-image: url("../img/general/instagram.svg");
}

.social-link--tw {
  background-image: url("../img/general/twitter.svg");
}

.social-link:hover,
.social-link:focus {
  opacity: 0.6;
}

.social-link:active {
  opacity: 0.1;
}

.copyright-link {
  opacity: 1;
}

.copyright-link:hover,
.copyright-link:focus {
  opacity: 0.6;
}

.copyright-link:active {
  opacity: 0.3;
}

.copyright-image {
  fill: #ffc600;
}

/* Inner page */

.heading-wrapper {
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 50px;
}

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.47px;
}

/* breadcrumbs */

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 20px;
  padding-right: 20px;
}

.breadcrumbs-item--current {
  margin-right: 0;
  padding: 0;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 0;

  width: 4px;
  height: 7px;

  background-image: url("../img/catalog/svg/nav-arrow.svg");
  background-repeat: no-repeat;

}

.breadcrumbs-item--current::after {
  display: none;
}


.breadcrumbs-link {
  font-size: 14px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item:hover .breadcrumbs-link{
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item--current:hover .breadcrumbs-link{
  color: rgba(0, 0, 0, 0.3);
}

.catalog-columns {
  background-image: linear-gradient(90deg, #ebebeb 50%, #ffffff 50%);
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-left: 60px;
}

/* filters */

.filters {
  padding-top: 70px;
  padding-right: 40px;
  margin-right: 30px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  border: 0;
}

.filter legend {
  position: relative;
  margin-bottom: 25px;
  padding-top: 10px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.filter legend::before {
  content: "";
  position: absolute;
  top: 0;

  width: 200px;
  height: 2px;
  background-color: #000000;

}

.filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-option {
  margin-bottom: 10px;
  padding-left: 40px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input:disabled + label{
  opacity: 0.25;
}

.filter-checkbox + label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url("../img/catalog/svg/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-checkbox:checked + label::before {
  background-image: url("../img/catalog/svg/checkbox-on.svg");
}

.filter-radio + label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -40px;

  width: 25px;
  height: 25px;

  background-image: url("../img/catalog/svg/radio-off.svg");
  background-repeat: no-repeat;
}

.filter-radio:checked + label::before {
  background-image: url("../img/catalog/svg/radio-on.svg");
}

.filter-checkbox:checked + label:hover::before,
.filter-checkbox + label:hover::before,
.filter-radio:checked + label:hover::before,
.filter-radio + label:hover::before {
  opacity: 0.6;
}

/* catalog */

.catalog {
  width: 830px;
  padding-top: 70px;
  padding-left: 75px;

  background-color: #ffffff;
}

.catalog-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 840px;
  margin: 0;
  padding: 0;

  list-style: none;

}

.catalog-item {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.product-image {
  position: relative;
}


.product-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 360px;
  height: 380px;
  padding-top: 40px;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background-color: rgba(238, 238, 238, 0.7);
}

.product-image:hover .product-overlay {
  display: flex;
}

.product-compare-link {
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
}

.product-compare-link:hover,
.product-compare-link:focus {
  color: rgba(0, 0, 0, 1);
}

.product-compare-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.product-description a {
  width: 260px;
  margin-right: 20px;
}

.product-title {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.product-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 75px;

  background-color: #ebebeb;
}

.pagination-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.pagination-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 30px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link--back,
.pagination-link--next {
  display: block;
  padding-top: 25px;
  padding-left: 30px;
  padding-bottom: 23px;

  width: 136px;
  height: 70px;
}

.pagination-link--back:hover,
.pagination-link--next:hover {
  background-color: #d9d9d9
}

/* Modal */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  display: none;

  width: 960px;
  height: 560px;

  margin-left: -480px;
  margin-top: -280px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-feedback {
  padding: 100px;
}

.modal-feedback label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;

  margin-bottom: 10px;
}

.feedback-form-wrapper {
  display: flex;
  justify-content: space-between;

  margin-bottom: 35px;
}

.feedback-form-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  min-width: 360px;

  margin-right: 40px;
}

.feedback-form-textarea {
  width: 100%;
}

.feedback-form input {
  padding: 20px;
  width: 100%;
  border: 0;
  background-color: #f2f2f2;
  color: #464646;
}

.feedback-form input:hover {
  background-color: #eaeaea;
}

.feedback-form input:focus {
  background-color: #ffffff;
  outline: 3px solid rgba(240, 197, 46, 0.5);

}

.feedback-form input::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.button-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  border: 0;

  background-color: transparent;
  background-image: url("../img/index/svg/modal-close.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
}

.button-close:hover,
.button-close:focus {
  opacity: 1;
}

.button-close:active {
  opacity: 0.3;
}

