/* Подключение шрифтов */

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy Light"), local("Gilroy-Light"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

/* Стили */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;

  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: inline-block;
  padding: 10px 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-image: linear-gradient(0deg, #ffffff 40%, #f0c52e 40%, #f0c52e 60%, #ffffff 40%);
  border: none;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(0deg, #f0c52e 0%, #f0c52e 100%);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
.main-header {
  padding-top: 40px;
}

.main-navigation {
  background-color: #f7e296;
  padding: 0 60px;
}

.user-list,
.navigation-list,
.dropdown-list,
.dropdown-list-col {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-header-logo {
  display: block;
  width: 163px;
  position: relative;
  top: -17px;
}

.inner-page .main-header-logo:hover,
.inner-page .main-header-logo:focus {
  opacity: 0.6;
}

.inner-page .main-header-logo:active {
  opacity: 0.3;
}

.main-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.user-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 500px;
}

.user-item {
  margin-left: 40px;
}

.user-login {
  margin-left: 0;
  margin-right: auto;
}

.login-link,
.compare-link,
.cart-link {
  position: relative;

  padding-left: 25px;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/general/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compare-link::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 6px;

  width: 13px;
  height: 12px;

  background-image: url("../img/general/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-link::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 3px;

  width: 13px;
  height: 12px;

  background-image: url("../img/general/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.logout-link {
  margin-left: 15px;
  opacity: 0.3;
}

.login-link:hover,
.login-link:focus,
.compare-link:hover,
.compare-link:focus,
.cart-link:hover,
.cart-link:focus {
  opacity: 0.6;
}

.login-link:active,
.compare-link:active,
.cart-link:active {
  opacity: 0.3;
}

.navigation-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 45px;
}

.navigation-item {
  margin-right: 35px;

}

.navigation-item:first-child {
  position: relative;
  margin-right: auto;
}

.navigation-item:last-child {
  margin-left: 65px;
  margin-right: 0;
}

.navigation-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.navigation-link:hover,
.navigation-link:focus {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.dropdown {
  position: relative;
}

.dropdown::after {
  content: "";

  position: absolute;
  top: 3px;
  right: -27px;

  width: 16px;
  height: 16px;

  opacity: 0.3;

  background-image: url("../img/general/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.dropdown-list {
  position: absolute;
  top: 35px;
  left: -60px;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 1160px;
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 42px;

  background-color: #f7e296;
}


/* .dropdown:hover .dropdown-list,
.dropdown:focus .dropdown-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
} */

.dropdown-list-section {
  margin-right: 60px;
}

.dropdown-list-section:last-child {
  margin-right: 0;
}

.dropdown-link:hover,
.dropdown-link:focus {
  opacity: 0.6;
}

.dropdown-link:active {
  opacity: 0.3;
}

/* Main */
/* Slider */

.slider {
  margin-bottom: 80px;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
}

.slider-item--current {
  display: flex;
  justify-content: space-between;
}

.slider-image {
  width: 560px;
  text-align: center;
}

.slider-description {
  width: 560px;
}

.slider-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: 0.47px;
}

.slider-description p {
  color: #464646;
}

.slider-table {
  width: 100%;
}

.slider-table td {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.36px;
}

.slider-table th {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

/* Popular */

.popular {
  margin-bottom: 80px;
}

.popular-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-item {
  width: 160px;
  margin-right: 40px;

}

.popular-item:last-child {
  margin-right: 0;
}

.popular-link {
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.18px;
}

/* Brands */

.brands {
  margin-bottom: 80px;
}

.brands-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.brands-image {
  filter: grayscale(100%);
  opacity: 0.2;
}

.brands-image:hover {
  filter: grayscale(0%);
  opacity: 1;
}

/* Company-info */

.index-columns .container {
  display: flex;
  justify-content: space-between;
}

.index-columns h2{
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.47px;
}

.index-columns p {
  color: #464646;
}

.company-info {
  margin-right: 40px;
}

.company-partners {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
}

/* Footer */

.main-footer {
  margin-top: 80px;

  color: #ffffff;
  background-color: #464646;
}

.main-footer a {
  color: #ffffff;
}

.footer-logo-image {
  fill: #f0c52e;
}

.footer-top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.footer-nav-list,
.social-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-middle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
}

.footer-nav-item {
  margin-right: 30px;
}

.footer-nav-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-item {
  margin-right: 20px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;

  opacity: 0.3;
}

.social-link--fb {
  background-image: url("../img/general/fb.svg");
}

.social-link--inst {
  background-image: url("../img/general/instagram.svg");
}

.social-link--tw {
  background-image: url("../img/general/twitter.svg");
}

.social-link:hover,
.social-link:focus {
  opacity: 0.6;
}

.social-link:active {
  opacity: 0.1;
}

.copyright-link {
  opacity: 1;
}

.copyright-link:hover,
.copyright-link:focus {
  opacity: 0.6;
}

.copyright-link:active {
  opacity: 0.3;
}

.copyright-image {
  fill: #ffc600;
}

/* Inner page */

.heading-wrapper {
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 50px;
}

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.47px;
}

/* breadcrumbs */

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;

  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item {
  margin-right: 15px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.3);
}

.catalog-columns .container {
  display: flex;
  justify-content: space-between;

  padding: 0 60px;
}

/* filters */

.filters {
  width: 240px;
}

.filter fieldset {
  border: 0;
}

.filter legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.filter-list {
  list-style: none;
}

/* catalog */

.catalog {
  width: 835px;
}

.catalog-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  margin-right: 40px;
}

.product-compare-link {
  color: rgba(0, 0, 0, 0.3);
}

.product-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.product-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

/* Modal */

.modal {
  display: none;
}
